1) KeyAccessor 
It is used to access the key of each Item.
Must expose a function with signature:
const Key& operator()(const Item&) [can be const] : returns the key of item

2) HashFun
Must expose a function with signature:
size_t operator()(const Key&) [can be const] : computes a hash value for key

3) EqualityPredicate
It is used to compare keys for equality.
Must expose a function with signature:
bool operator()(const Key& lhs, const Key& rhs) [can be const] : returns true if lhs == rhs

All must be no-throw copy-constructible, no-throw coppy-assignable 
and no-throw default-constructible. 
The move constructor and move assignment operator both try to
move them, if move special members are supplied, they must also be no-throw. 