1) KeyAccessor
It is used for accessing and setting the keys of the Item objects.
Must expose two functions:
 - void operator()(Item& item, const Key& key) [can be const] : sets the key of item with key.
 - const Key& operator()(const Item& item) [can be const] : returns the key of item.

Must be default-constructible, copy-constructible and copy-assignable.

2) CompareFunction
It is used to compare the keys of the Item objects.
Must expose a function with signature:

bool operator()(const Key& lhs, const Key& rhs) [can be const]

that defines a strict total order:  
 - less than for MAX priority queue
 - greater than for MIN priority queue

Must be default-constructible, copy-constructible and copy-assignable.

3) HandleSetter
It is used to set the handles of the Item objects.
Must expose a function with signature:
void operator()(Item& item, const PriorityQueueHandle& handle) [can be const] : sets the handle of item with handle.

Must be default-constructible, copy-constructible and copy-assignable.

The move constructor and move assignment operator both try to move KeyAccessor, CompareFunction and HandleSetter.
